<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Business Intelligence (BI) - Open Mining</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' type='image/x-icon' href="{{ get_url('assets', path='image/favicon.ico') }}" />
    <!-- Bootstrap core CSS -->
    <link href="{{ get_url('assets', path='bower/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="{{ get_url('assets', path='css/sb-admin.css') }}" rel="stylesheet">
    <link href="{{ get_url('assets', path='app/styles/main.css') }}" rel="stylesheet">
    <link href="{{ get_url('assets', path='bower/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ get_url('assets', path='bower/morris.js/morris.css') }}" rel="stylesheet">
    <link href="{{ get_url('assets', path='bower/codemirror/lib/codemirror.css') }}" rel="stylesheet">
    <link href="{{ get_url('assets', path='bower/select2/select2.css') }}" rel="stylesheet">
    <link href="{{ get_url('assets', path='css/style.css') }}" rel="stylesheet">
    <!-- Page Specific CSS -->
  </head>
  <body class="ng-cloak" ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" changeMenu class="sidebar-toggle" ng-click="abreMenu();">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" ng-href="#/"><strong>Open</strong>Mining</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li ng-controller="TasksControllers" class="dropdown" ng-class="{'open':show_tasks}">
                    <a ng-click="show_tasks = !show_tasks;">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li ng-repeat="cube in tasks" class="tasks-item">
                            <strong>[[ cube.name ]]</strong><br>
                            <span class="text-muted">[[ cube.start_process ]]([[ cube.start_process | timeAgo ]])</span>
                        </li>
                        <li class="tasks-item tasks-refresh">
                            <button ng-click="forceRefresh();" class="btn btn-danger btn-block">
                                <i class="fa fa-refresh"></i> <span translate>Refresh</span>
                            </button>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" ng-show="AuthService.isLoggedIn()">
                        <i class="fa fa-user fa-fw"></i> [[ AuthService.getUser().username ]]  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a ng-click="AuthService.logout()"><i class="fa fa-sign-out fa-fw"></i> <span translate>Logout</span></a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side ng-cloak" role="navigation" ng-cloak ng-show="!new_user">
                <div class="sidebar-collapse">
                    <div class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" ng-model="dashboardFilter.$" placeholder="Search...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                        <!-- /input-group -->
                    </div>
                </div>
                <!-- /.sidebar-collapse -->
                <div class="sidebar-collapse side-menu-scroll">
                    <ul class="nav" id="side-menu">
                        <li ng-class="{'open':inDashboard || dashboardFilter.$}">
                            <a ng-click="setOpenMenu('dashboard');"><i class="fa fa-dashboard fa-fw"></i> Dashboard<span class="fa arrow"></span></a>
                            <ul ng-show="!dashboardFilter.$" class="nav nav-second-level collapse" ng-class="{'in' : menuOpen == 'dashboard'}">
                                <li ng-repeat="group in dashboardGroups|checkGroupsPermissions|orderBy:'name'">
                                    <a ng-click="setOpenMenu('dashboard', group.slug);">[[ group.name ]] <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse" ng-class="{'in' : subMenuOpen == group.slug}">
                                        <li ng-repeat="d in dashboards|checkDashboardPermission|filter:dashboardFilter|dashboardGroupFilter:group|orderBy:'name'">
                                            <a ng-href="#/dashboard/[[d.slug]]">[[d.name]]</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="ng-binding" ng-click="setOpenMenu('dashboard', 'outros');"><span translate>Others</span> <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse" ng-class="{'in' : subMenuOpen == 'outros'}">
                                        <li ng-repeat="d in dashboards|checkDashboardPermission|filter:dashboardFilter|filter:groupUndefined|orderBy:'name'">
                                            <a ng-href="#/dashboard/[[d.slug]]">[[d.name]]</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul ng-show="dashboardFilter.$" class="nav nav-second-level collapse" ng-class="{'in' : menuOpen == 'dashboard'}">
                                <li ng-repeat="d in dashboards|checkDashboardPermission|filter:dashboardFilter|orderBy:'name'">
                                    <a ng-href="#/dashboard/[[d.slug]]">[[d.name]]</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ng-href="#/admin/late-scheduler">
                                <i class="fa fa-clock-o fa-fw"></i> <span translate>Late Scheduler</span>
                                <span class="badge pull-right"
                                    ng-class="{'badge-danger': late_cubes.length != '0'}"
                                >[[ late_cubes.length ]]</span>
                            </a>
                        </li>
                        <li ng-class="{'open':inData}" ng-if="AuthService.getUser().rule != 'user'">
                            <a ng-click="setOpenMenu('data')"><i class="fa fa-database fa-fw"></i> <span translate>Data</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" ng-class="{'in': menuOpen == 'data'}">
                                <li><a ng-href="#/admin/connection"><i class="fa fa-globe"></i> <span translate>Connection</span></a></li>
                                <li><a ng-href="#/admin/cube"><i class="fa fa-cube"></i> <span translate>Cube</span></a></li>
                                <li><a ng-href="#/admin/element"><i class="fa fa-sitemap"></i> <span translate>Element</span></a></li>
                                <li><a ng-href="#/admin/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                            </ul>
                        </li>
                        <li ng-class="{'open':inSettings}" ng-if="AuthService.getUser().rule != 'user' || AuthService.userIsAdminGroup()">
                            <a ng-click="setOpenMenu('settings')"><i class="fa fa-cog fa-fw"></i> <span translate>Settings</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" ng-class="{'in': menuOpen == 'settings'}">
                                <li ng-if="AuthService.getUser().rule != 'user' || AuthService.userIsAdminGroup()">
                                    <a ng-href="#/admin/user"><i class="fa fa-user"></i> <span translate>Users</span></a>
                                </li>
                                <li ng-if="AuthService.getUser().rule == 'root'">
                                    <a ng-href="#/admin/permissions-group"><i class="fa fa-users"></i> <span translate>Permission Group</span></a>
                                </li>
                                <li ng-if="AuthService.getUser().rule == 'root'">
                                    <a ng-href="#/admin/dashboard-group"><i class="fa fa-folder"></i> <span translate>Dashboard Group</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /#side-menu -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div ng-repeat="alert in alerts" class="alert alert-dismissable"
                 ng-class="{'alert-danger':alert.type=='error', 'alert-success': alert.type=='success', 'alert-info':alert.type=='info', 'alert-warning':alert.type=='warning'}">
                <button type="button" class="close" ng-click="closeAlert($index)">×</button>
                [[ alert.msg ]]
            </div>
            <div ng-view></div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!--[if lt IE 9]>
    <script src="/assets/bower/es5-shim/es5-shim.js"></script>
    <script src="/assets/bower/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="{{ get_url('assets', path='bower/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/jquery-ui/ui/jquery-ui.js') }}"></script>
    <script src="{{ get_url('assets', path='javascript/sb-admin.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/codemirror/mode/sql/sql.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/select2/select2.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/moment/moment.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular/angular.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular-i18n/angular-locale_pt-br.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular-i18n/angular-locale_en-us.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular-resource/angular-resource.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular-cookies/angular-cookies.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular-sanitize/angular-sanitize.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular-route/angular-route.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular-strap/dist/angular-strap.min.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular-strap/dist/angular-strap.tpl.min.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular-ui-select2/src/select2.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular-ui-select2-sortable/src/select2sortable.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular-ui-codemirror/ui-codemirror.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/raphael/raphael-min.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/morris.js/morris.js') }}"></script>
    <script src="{{ get_url('assets', path='bower/angular-gettext/dist/angular-gettext.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/i18n/pt_BR.js') }}"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="{{ get_url('assets', path='app/scripts/app.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/auth/auth.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/auth/directives.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/auth/services.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/auth/filters.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/auth/controllers.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/admin/admin.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/admin/controllers/connection.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/admin/controllers/cube.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/admin/controllers/element.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/admin/controllers/dashboard.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/admin/controllers/task.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/admin/controllers/user.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/admin/controllers/late_scheduler.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/admin/controllers/dashboard_group.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/admin/services.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/admin/resolvers.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/dashboard/dashboard.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/dashboard/controllers.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/dashboard/services.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/dashboard/directives.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/report/report.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/report/controllers.js') }}"></script>
    <script src="{{ get_url('assets', path='app/scripts/report/services.js') }}"></script>
    <!-- endbuild -->
    <script>
      window.protocol = '{{ protocol }}';
      window.lang = '{{ lang }}';
      $(function() {
        $.ajax({
            'url':'/api/user/session',
            'type':'GET'
          })
        .done(function(response){
          var userData = jQuery.parseJSON(response);
          if(userData.uid){
            $.ajax({
              'url':'/api/user/'+userData.uid,
              'type':'GET'
            }).done(function(response){
              if(response.new_user){
                angular.module('miningApp').constant('newUser', true);
                userData.permissions = [];
                userData.rule = 'user';
                userData.username = response.username;
                userData.is_admin_group = response.is_admin_group;
              }else{
                angular.module('miningApp').constant('newUser', false);
                userData = response;
              }
              angular.module('miningApp').constant('getCurrentUser', userData);
              angular.bootstrap(document, ['miningApp']);
            }).fail(function(retorno){
              angular.module('miningApp').constant('newUser', false);
              angular.module('miningApp').constant('getCurrentUser', userData);
              angular.bootstrap(document, ['miningApp']);
            });
          }else{
            window.location.href="/";
          }
        })
        .fail(function(retorno){
          window.location.href="/";
        });

        // jquery tapa-buraco
        $('.sidebar-toggle').click(function(){
            $('.navbar-static-side,#page-wrapper').toggleClass('with-menu');
        });
      });
    </script>
</body>
</html>
