<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Business Intelligence (BI) - Open Mining</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' type='image/x-icon' href="{{ get_url('assets', path='image/favicon.ico') }}" />
    <!-- Bootstrap core CSS -->
    <link href="{{ get_url('assets', path='bower/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="{{ get_url('assets', path='bower/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!--<link href="{{ get_url('assets', path='bower/morris.js/morris.css') }}" rel="stylesheet">
    <link href="{{ get_url('assets', path='bower/codemirror/lib/codemirror.css') }}" rel="stylesheet">-->
    <link href="{{ get_url('assets', path='css/style.css') }}" rel="stylesheet">
    <link href="{{ get_url('assets', path='css/login.css') }}" rel="stylesheet">
    <!-- Page Specific CSS -->
  </head>
  <body ng-app="miningApp" class="login">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div id="wrapper">
        <div id="page-wrapper">
            <h1 class="navbar-brand" href="#/"><strong>Open</strong>Mining</h1>
            <form class="form-signin" action="/api/user/login" method="POST">
                <h4 class="form-signin-heading"><i class="fa fa-lock"></i> Please sign in</h4>
                <div class="form-group">
                  <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="Password">
                  <!--<label class="checkbox">-->
                    <!--<input type="checkbox" value="remember-me"> Remember me-->
                  <!--</label>-->
                </div>
                <div class="form-group">
                  <button class="btn btn-large btn-primary btn-block" type="submit">Sign in</button>
                </div>
            </form>
        </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->

    <!-- endbuild -->
</body>
</html>
