body{
	padding-top: 50px;
	padding-bottom: 0;
}
.required{
	color: #f00;
	font-weight: bold;
}
.badge-danger{
	background: #D9534F;
}
.loading{
	text-align: center;
	font-size: 18px;
	color: #666;
	padding: 40px 0;
}
/* Menu principal */
.navbar-header{
	margin-left: 30px;
	width: 200px;
}
.sidebar-toggle{
	background: #777;
	border: 0;
	border-radius: 50em;
	color: #fff;
	width: 30px;
	height: 30px;
	float: left;
	margin-top: 8px;
	margin-right: 8px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.sidebar-toggle:hover{
	background: #444;
}
.sidebar-toggle:focus{
	outline: none;
}
.side-menu-scroll{
	max-height: 100%;
	padding-bottom: 110px;
	overflow-y: auto;
}

/* Topo */
.navbar-brand{
	float: none;
	display: inline-block;
	padding-left: 0px;
	font-size: 26px;
}
.navbar-static-side{
	position: fixed;
	height: 100%;
	left: -250px;
	z-index: 98;
	transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
}
.navbar-static-side.with-menu{
	left: 0;
}
.tasks-item{
	padding: 3px 20px 9px;
	margin-bottom: 9px;
	border-bottom: solid 1px #E5E5E5;
}
.tasks-item:last-child{
	border-bottom: none;
	margin-bottom: 0;
}
.navbar-top-links .dropdown-menu .tasks-item a{
	padding: 0;
}
/* Home */
.home{
	padding: 30px 0;
}
.welcome{
	text-align: center;
	color: #777;
	font-size: 60px;
	line-height: 50px;
	padding: 30px 0 10px;
}
.welcome strong{
	font-size: 72px;
	font-weight: bold;
}
.welcome small{
	font-size: 42px;
	color: #777;
}
.home-settings{
	padding: 0;
	list-style: none;
	text-align: center;
	margin-bottom: 20px;
}
.home-settings li{
	display: inline-block;
	margin-left: 10px;
	
}
.home-settings a{
	display: block;
	border-radius: 4px;
	padding: 8px;
	background: #428BCA;
	color: #fff;
	line-height: normal;
}
.home-settings a:hover{
	background: #2A6496;
}
.home-settings .fa{
	height: 14px;
	width: 14px;
	text-align: center;
}
.home-dashboards-title{
	color: #777;
	border-bottom: solid 1px #DDD;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
.home-dashboard{
	display: inline-block;
	border-radius: 6px;
	border: solid 1px #dfdfdf;
	border-bottom: 3px solid #D6D6D6;
	background: #fff;
	padding: 5px 12px;
	margin-right: 10px;
	font-size: 16px;
	margin-bottom: 10px;
	color: #6d6d6d;
	white-space: nowrap;
	transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
}
.home-dashboard i{
	color: #428BCA;
	margin-right: 5px;
}
.home-dashboard:hover{
	/*background: #2A6496;*/
	background: #f1f1f1;
	text-decoration: none;
	border-bottom-color: #428BCA;
}
/* Dashboard */
.click-minimize{
	cursor: pointer;
	position: relative;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

.click-minimize:hover{
	background: #2065A0;
}
.click-minimize:hover::after{
	content: "\f0d8";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 7px;
	font-size: 20px;
}
.panel-minimized:hover::after{
	content: "\f0d7";
	top: 9px;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body{
	border-top-color: transparent;
}

/*** gráficos ***/
.morris-hover.morris-default-style{
	padding-right: 23px;
	background: rgba(255, 255, 255, 0.9);
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
[id^='chart-line'] > svg, [id^='bar-chart'] > svg {
    width: 100% !important;
}
/** Filtros e ordenação **/
.datepicker.dropdown-menu{
	padding: 0;
}
.barra-filtros-topo{
	clear: both;
}
.barra-filtros-topo .well{
	width: 100%;
	margin-bottom: 0px;
}
.barra-filtros-export{
	margin-top: 20px;
}
.barra-filtros-export-bottom{
	margin-top: 0;
	margin-bottom: 20px;
}
.sort-export-update{
	float: right;
	padding: 10px 0;
}
.page-number-items{
	display: inline-block;
	margin-right: 10px;
}
.btn-sort-disabled{
	background: #838383;
	border-color: #777;
	color: #fff;
}
.btn-sort-disabled:hover{
	background: #777;
	color: #fff;
}
.export-buttons{
	display: inline-block;
}
.update-refresh{
	display: inline-block;
}
.update-refresh .dropdown-menu{
	width: 200px;
}
.update-refresh .update-item{
	padding: 3px 20px;
	font-size: 12px;
}
.filtros-painel{
	border: solid 1px #ccc;
	border-top: solid 3px #F0AD4E;
	border-radius: 6px;
	padding: 10px;
	background: #f5f5f5;
	clear: both;
	margin-top: 10px;
}
.filtros-painel-box{
	padding: 20px;
}
.filtros-painel-box legend{
	font-size: 16px;
	font-weight: bold;
	padding: 0;
}
.filtros-action{
	text-align: right;
}
.filtros-painel-destaque{
	background: #fff;
	border-radius: 6px;
	border: solid 1px #EBEBEB;
}
.filtros-load{
	padding-bottom: 20px;
	border-bottom: solid 1px #E6E6E6;
}
.barra-filtros-topo .filtros-load{
	padding-bottom: 0;
	border-bottom: 0;
	margin: 4px 0;
}
.filtros-options{
	margin:4px 0 4px 20px;
}
.barra-filtros-topo .filtros-load .select2-container{
	width: 200px;
}
.settings-list{
	list-style: none;
	padding: 0;
}
.settings-list li{
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.botao-remove{
	background: none;
	border: 0;
	color: #D9534F;
	padding: 0;
	margin-right: 5px;
}
.btn-save{
	width: 129px;
	overflow: hidden;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.btn-save > span{
	width: 84px;
	text-align: left;
	display: inline-block;
}
.btn-save input{
	display: inline-block;
	width: auto;
	height: auto;
	padding: 0 6px;
	margin-left: 12px;
	margin-right: 12px;
}
.btn-save a{
	color: #fff;
}
.btn-save a:hover{
	color: #fff;
	text-decoration: none;
}
.btn-save-active{
	width: 254px;
	text-indent: -107px;
}
.btn-save strong i{
	text-indent: 0;
}
/** Formulários **/
.select2-container .select2-choice{
	height: 34px;
	line-height: 34px;
	border-color: #ccc;
	background: #fff;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.select2-container-multi .select2-choices{
	border-radius: 4px;
	border-color: #ccc;
	background: #fff;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.select2-drop-active{
	border-color: #66AFE9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}
.select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-container-multi.select2-container-active .select2-choices{
	border-color: #66AFE9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}
.select2-container .select2-choice .select2-arrow{
	border-left: 0;
	background: transparent;
}
.select2-container .select2-choice .select2-arrow b{
	background-position: 0 3px;
}
.select2-drop{
	color: #555;
}
.select2-drop::before {
	content: '';
	display: block;
	background: #FFF;
	height: 7px;
	position: absolute;
	margin-top: -5px;
	width: 100%;
}
.select2-search input{
	border-radius: 4px;
	border-color: #ccc;
}
.check-list{
	padding-left: 0;
}

/*** widgets ***/
.widget-row{
	border-bottom: solid 1px #e3e3e3;
}
.widget-field{
	margin-bottom: 15px;
}
/** Tabelas **/
.table-scroll{
	overflow-x: auto;
	border: solid 1px #ddd;
}
.table-scroll .table{
	margin-bottom: 0
}
.table-scroll .table-bordered{
	border: 0;
}
.table-scroll > .table-bordered > thead > tr > th:first-child,
.table-scroll > .table-bordered > tbody > tr > td:first-child{
	border-left: 0;
}
.table-scroll > .table-bordered > thead > tr > th:last-child,
.table-scroll > .table-bordered > tbody > tr > td:last-child{
	border-right: 0;
}
.table-scroll > .table-bordered > tbody > tr:last-child > td{
	border-bottom: 0;
}

.table-tbody-striped tbody:nth-child(even){
	background: #f9f9f9;
}

table.process > thead > tr > th{
	vertical-align: top;
}
.order-apply,.order-remove{
	color: #6f6f6f;
}
.order-apply{
	/*margin: 0 5px;*/
}
.order-apply .fa,.order-remove .fa{
	width: 16px;
}
.order-remove{
	color: #D9534F;
	display: none;
}
.order-apply:hover,.order-remove:hover{
	text-decoration: none;
	color: #333;
}
.order-remove:hover{
	color: #D2322D;
}
.order-number{
	font-size: 10px;
	color: #A0A0A0;
	font-weight: normal;
	display: inline-block;
	width: 16px;
}
.order:hover .order-number{
	display: none;
}
.order:hover .order-remove{
	display: inline;
}
/** Settings **/
.CodeMirror-wrap{
	border: solid 1px #ccc;
	border-radius: 4px;
}
.edit-delete{
	white-space: nowrap;
}
.edit-delete a{
	padding: 3px 6px;
}
.multi-labels .label{
	display: inline-block;
	margin-right: 5px;
}
.connection-status .fa-thumbs-up{
	color: #00AC00;
}
.connection-status .fa-thumbs-down{
	color: #c00;
}

.permissions .panel-body:hover{
	background: #fafafa;
}
.permissions .panel-heading .fa-sort-desc{
	margin-top: 4px;
}
.permissions-elements-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.permissions-elements-list li{
	margin-bottom: 5px;
}
.permissions-elements-list label{
	font-weight: normal;
	display: block;
	padding: 3px;
}
.permissions-elements-list label:hover{
	background: #f5f5f5;
}
.checkbox-holder{
	display: inline-block;
	width: 25px;
}
.panel-title .checkbox-holder{
	padding-left: 3px;
}
.checkbox-holder input[type='checkbox']{
	margin: 0;
}
tr.code{
	font-family: monospace;
	display: none;
}

/** Forms overlay **/
.bg-overlay{
	background: #000;
	opacity: 0.8;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1031;
}
.forms-overlay{
	position: relative;
	padding: 15px;
	padding-bottom: 85px;
	margin-top: -15px;
	margin-left: -15px;
	background: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.4);
	z-index: 1032;
}
.forms-overlay-breadcrumb{
	padding: 0;
	list-style: none;
	margin-bottom: 40px;
}
.forms-overlay-breadcrumb > li{
	display: inline-block;
	padding: 0 30px;
	max-width: 32%;
	position: relative;
	line-height: 1.2;
}
.forms-overlay-breadcrumb > li:first-child{
	padding-left: 0;
}
.forms-overlay-breadcrumb > li:last-child{
	padding-right: 0;
}
.forms-overlay-breadcrumb > li::after{
	content: '\f105';
	color: #b7b7b7;
	font-size: 24px;
	position: absolute;
	right: -5px;
	top: 7px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.forms-overlay-breadcrumb > li:last-child::after{
	display: none;
}
.forms-overlay-breadcrumb > .active::before{
	content: "\f040";
	display: block;
	float: left;
	width: 28px;
	height: 28px;
	margin-right: 7px;
	margin-top: 3px;
	text-align: center;
	color: #fff;
	background: #428bca;
	border-radius: 50em;
	font-size: 18px;
	line-height: 28px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.form-category, .form-name{
	display: block;
	white-space: nowrap;
	overflow: hidden;
}
.forms-overlay-breadcrumb > .active .form-category,
.forms-overlay-breadcrumb > .active .form-name{
	margin-left: 35px;
}
.form-category{
	color: #777;
	font-size: 14px;
}
.form-name{
	color: #333;
	font-size: 18px;
	font-weight: bold;
}
.forms-overlay-footer{
	background: #f5f5f5;
	text-align: right;
	padding: 15px;
	position: absolute;
	left: 0;
	bottom: 0;
	border-top: solid 1px #e3e3e3;
	box-shadow: inset 0px 0px 1px 1px #FFF;
	-webkit-box-shadow: inset 0px 0px 1px 1px #FFF;
	border-radius: 0 0 6px 6px;
	width: 100%;
}

/* RESPONSIVO */
@media (max-width: 991px){
	.forms-overlay{
		margin: 0;
	}
	.widget-field{
		margin-bottom: 0;
	}
}
@media (min-width: 768px){
	.navbar-static-side{
		margin-top: 50px;
	}
	#page-wrapper{
		margin: 0;
		transition: all 0.4s ease-out;
		-webkit-transition: all 0.4s ease-out;
	}
	#page-wrapper.with-menu{
		margin-left: 250px;
	}
	.widget-container{
		margin-left: -20px;
		float: left;
	}
	.form-inline .filtro-widget{
		margin: 4px 0 4px 20px;
	}
	.filtro-widget input[type='text'].form-control,.filtro-widget select.form-control{
		width: 177px;
	}
	.filtro-widget input[type='text'].field-date{
		width: 110px;
	}
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
}
.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}

.timepicker.dropdown-menu {
  padding: 0 4px;
}
.timepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.timepicker.dropdown-menu tbody button {
  padding: 6px;
}
