<html ng-app="MiningAdmin" xmlns:ng="http://angularjs.org" lang="en">
  <head>
    <script type="text/javascript" src="/assets/bower/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/bower/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/assets/javascript/admin.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/assets/bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="/assets/css/sb-admin.css" rel="stylesheet">
  </head>
  <body>

    <ul class="nav nav-tabs">
      {% block nav %}
      <li class="active"><a href="/admin/connection">Connection</a></li>
      <li><a href="/admin/cube">Cube</a></li>
      <li><a href="/admin/element">Element</a></li>
      <li><a href="/admin/dashboard">Dashboard</a></li>
      {% end %}
    </ul>

    <div id="content">
      {% block content %}{% end %}
    </div>
  </body>
</html>
