{% extends "base.html" %}
      {% block nav %}
      <li ><a href="/admin/connection">Connection</a></li>
      <li class="active"><a href="/admin/cube">Cube</a></li>
      <li><a href="/admin/element">Element</a></li>
      <li><a href="/admin/dashboard">Dashboard</a></li>
      {% end %}

{% block content %}
<form action="/admin/cube{% if slug %}/{{slug}}{% end %}" method="post" accept-charset="utf-8">
  <table>
  {% for field in form %}
  <tr>
    <th>{% raw field.label %} {% if field.flags.required %}*{% end %}</th>
    <td>{% raw field %}</td>
  </tr>
  {% end %}
  </table>
  <input type="submit" value="Save" />
</form>

<ul>
  {% for c in cube %}
  <li>
    <ul>
      <li><a href="/{{c['slug']}}" target="_black">view</a></li>
      <li><a href="/admin/cube/{{c['slug']}}">edit</a></li>
      <li>{{c['name']}} - {{c['conection']}} - {{c['sql']}}</li>
    </ul>
  </li>
  {% end %}
</ul>

{% end %}
