{% extends "base.html" %}

{% block content %}
<form action="/admin/cube" method="post" accept-charset="utf-8">
  <table>
  {% for field in form %}
  <tr>
    <th>{% raw field.label %} {% if field.flags.required %}*{% end %}</th>
    <td>{% raw field %}</td>
  </tr>
  {% end %}
  </table>
  <input type="submit" value="Create" />
</form>

<ul>
  {% for c in cube %}
  <li><a href="/admin/cube/{{c['slug']}}">edit</a> {{c['name']}} - {{c['conection']}} - {{c['sql']}}</li>
  {% end %}
</ul>

{% end %}
