{% extends "../index.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1><i class="fa fa-th"></i> Cube</h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="icon-dashboard"></i> Admin</a></li>
        <li class="active">Cube</li>
      </ol>
  </div>

  <form action="/admin/cube{% if slug %}/{{slug}}{% end %}" method="post" accept-charset="utf-8" ng-controller="CubeQuery">
    <table>
    {% for field in form %}
    <tr>
      <th>{% raw field.label %} {% if field.flags.required %}*{% end %}</th>
      <td>{% raw field %}</td>
    </tr>
    {% end %}
    </table>
    <input class="btn btn-primary" type="submit" value="Save" ng-show="loadcubequery" />
    <input class="btn btn-info" type="button" value="Query test" ng-click="testquery()" />
    <div>{{!status}}</div>
  </form>

  <ul>
    {% for c in cube %}
    <li>
      <ul>
        <li><a href="/admin/cube/{{c['slug']}}">edit</a></li>
        <li><a href="/admin/delete/cube/{{c['slug']}}">delete</a></li>
        <li>{{c['name']}} - {{c['connection']}} - {{c['sql']}}</li>
      </ul>
    </li>
    {% end %}
  </ul>
</div>
{% end %}