{% extends "base.html" %}

{% block content %}
<form action="/admin/dashboard{% if slug %}/{{slug}}{% end %}" method="post" accept-charset="utf-8">
  <table>
  {% for field in form %}
  <tr>
    <th>{% raw field.label %} {% if field.flags.required %}*{% end %}</th>
    <td>{% raw field %}</td>
  </tr>
  {% end %}
  </table>
  <input type="submit" value="Save" />
</form>

<ul>
  {% for c in dashboard %}
  <li>
    <ul>
      <li><a href="/admin/dashboard/{{c['slug']}}">edit</a></li>
      <li>{{c['name']}}</li>
    </ul>
  </li>
  {% end %}
</ul>
{% end %}
