<div class="row" ng-controller="Chart">
    <div class="col-lg-12 panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{d['slug']}}">
                        <i class="fa fa-bar-chart-o"></i> {{d['name']}}
                    </a>
                </h3>
            </div>
            <div id="collapse-{{d['slug']}}" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="chartline-{{d['slug']}}" ng-init="init('{{d['cube']}}', '{{d['categories']}}', '{{d['_type']}}', '{{d['name']}}')">
                        <div class="row">
                            <highchart id="chart1" config="chartConfig['{{d['cube']}}']" class="span10"></highchart>
                        </div>
                    </div>
                </div>
            </div>
            {% include "filter.html" %}
        </div>
    </div>
</div>
