<div class="row">
    <div class="col-lg-12">
        <h1><i class="fa fa-globe"></i> <span translate>Connection</span></h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="icon-dashboard"></i> Admin</a></li>
            <li class="active" translate>Connection</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <form name="form_connection" accept-charset="utf-8" role="form" ng-submit="save(post)">
            <div class="form-group">
                <label for="connection_name" translate>Name</label>
                <input type="text" id="connection_name" ng-model="connection.name" class="form-control">
            </div>
            <div class="form-group">
                <label for="connection_connection" translate>Connection</label>
                <input type="text" id="connection_connection" ng-model="connection.connection" class="form-control">
                <p class="help-block">mysql://[user]:[password]@[host][:port]/[database]</p>
            </div>
            <button type="submit" class="btn btn-primary" translate>Save</button>
            <button type="button" class="btn btn-success" ng-click="newForm()" translate>New</button>
        </form>
    </div>
    <div class="col-lg-6 table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th colspan="3">
                        <span translate>Search:</span> <input type="text" class="form-control" ng-model="search.$" placeholder="Type to search" />
                    </th>
                </tr>
            </thead>
            <thead>
                <th>
                </th>
                <th translate>
                    Name
                </th>
                <th translate>
                    Connection
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="c in connections|filter:search|orderBy:'name'">
                    <td class="edit-delete">
                        <a ng-click="selectConnection(c)" title="Edit Connection"><i class="fa fa-pencil"></i></a>
                        <a ng-click="deleteConnection(c)" title="Delete Connection"><i class="fa fa-trash-o"></i></a>
                    </td>
                    <td>
                        [[c.name]]
                    </td>
                    <td>
                        [[c.connection]]
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- /.row -->