<div class="form-group">
    <label for="cube_connection" translate>Connection <span class="required">*</span></label>
    <select id="cube_connection" ui-select2 ng-model="cube.connection" class="form-control" required>
        <option value=""></option>
        <option ng-repeat="c in connections" value="[[ c.slug ]]">[[ c.name ]]</option>
    </select>
</div>
<div class="form-group">
    <label for="cube_schedule_type" translate>Scheduler</label>
    <select class="form-control" ui-select2 id="cube_schedule_type" ng-change="changeSchedulerType()"
            ng-model="cube.scheduler_type">
        <option value="" selected="selected" translate>No</option>
        <option ng-repeat="t in scheduler_types" value="[[ t.key ]]">[[ t.val ]]</option>
    </select>

    <div ng-show="show_h">
        <label translate>Hour</label><input class="form-control" id="hour" ng-model="$parent.hour" type="number" min="0"
                                  max="23"/>
    </div>
    <div ng-show="show_m">
        <label translate>Min</label><input class="form-control" id="min" ng-model="$parent.min" type="number" min="0"
            max="999999"/>
    </div>
</div>
<div class="form-group">
    <label for="cube_sql">Query <span class="required">*</span></label>
    <textarea ui-codemirror="editorOptions" id="cube_sql" ng-model="cube.sql"></textarea>
</div>