<div class="row">
    <div class="col-lg-12">
        <h1><i class="fa fa-cube"></i> Cube</h1>
        <ol class="breadcrumb">
            <li><a href="#/"><i class="icon-dashboard"></i> Admin</a></li>
            <li class="active">Cube</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <form name="form_cube" accept-charset="utf-8" role="form" ng-submit="save(cube)">
            <div class="form-group">
                <label for="cube_name">Name <span class="required">*</span></label>
                <input type="text" id="cube_name" ng-model="cube.name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="cube_type">Type</label>
                <select class="form-control" ui-select2 id="cube_type" ng-model="cube.type">
                    <option value="" selected="selected"></option>
                    <option value="relational">Relational</option>
                    <option value="cube_join">Cube Join</option>
                </select>
            </div>
            <div ng-include="templates[cube.type]" id="cube_form">
            </div>
            <button type="submit" class="btn btn-primary">Force Save
            </button>
            <input class="btn btn-info" type="button" value="Query test" ng-disabled="ajaxload" ng-click="testquery()"/>
            <button type="button" class="btn btn-success" ng-click="newForm()">New</button>
        </form>
    </div>
    <div class="col-lg-6 table-responsive">
        <table class="table table-bordered table-tbody-striped">
            <thead>
                <tr>
                    <th colspan="6">
                        Search: <input type="text" class="form-control" ng-model="search.$" placeholder="Type to search" />
                    </th>
                </tr>
            </thead>
            <thead>
            <th>
            </th>
            <th>
                Name
            </th>
            <th>
                Connection
            </th>
            <th>
                Type
            </th>
            <th>
                Scheduler
            </th>
            <th>
                Status
            </th>
            </thead>
            <tbody ng-repeat="c in cubes|filter:search|orderBy:'name'">
            <tr>
                <td class="edit-delete">
                    <a ng-click="selectCube(c)" title="Edit Cube"><i class="fa fa-pencil"></i></a>
                    <a class="show-code" title="Show Code"><i class="fa fa-code"></i></a>
                    <a ng-click="deleteCube(c)" title="Delete Cube"><i class="fa fa-trash-o"></i></a>
                </td>
                <td>
                    [[c.name]]
                </td>
                <td>
                    [[c.connection]]
                </td>
                <td>
                    [[c.type]]
                </td>
                <td>
                    [[ c.scheduler_interval ]] [[ c.scheduler_type ]]
                </td>
                <td class="connection-status">
                    <i class="fa" ng-class="{'fa-thumbs-up':c.status, 'fa-thumbs-down': !c.status}"></i>
                </td>
            </tr>
            <tr ng-show="c.scheduler_status">
                <td colspan="4">
                    Scheduler
                </td>
                <td>
                    [[ c.scheduler_type ]]
                </td>
                <td>
                    [[ c.scheduler_interval ]]
                </td>
            </tr>
            <tr class="code">
                <td colspan="4">
                    [[ c.sql ]]
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div><!-- /.row -->