<div class="row">
  <div class="col-lg-12">
    <h1><i class="fa fa-dashboard"></i> [[ selected_dashboard.name ]]</h1>
    <ol class="breadcrumb">
      <li><a><i class="icon-dashboard"></i> Dashboard</a></li>
      <li class="active">[[ selected_dashboard.name ]]</li>
    </ol>
  </div>
</div>
<div class="row ng-scope" ng-repeat="e in selected_dashboard.element|checkElementPermission:selected_dashboard.slug">
  <div ng-if="e.type=='grid'" class="col-lg-12 panel-group">
    <div class="panel panel-primary panel-grid">
      <div class="panel-heading click-minimize" ng-click="e.isCollapsed=!e.isCollapsed" ng-class="{'panel-minimized':e.isCollapsed}">
        <h3 class="panel-title">
          <i class="fa fa-table"></i> [[ e.name ]] <!--(Last Update: [[ e.cube.lastupdate|date:'yyyy-MM-dd HH:mm:ss' ]] | Last Refresh: [[ e.last_refresh|date:'yyyy-MM-dd HH:mm:ss' ]])-->
        </h3>
      </div>

      <div collapse="e.isCollapsed" class="panel-collapse">
        <div class="barra-filtros-export col-lg-12">
          <div class="barra-filtros-topo">
            <form class="form-inline">
              <div class="well well-sm pull-left">
                <div class="widget-container" ng-if="e.widgets.length > 0">
                  <div ng-repeat="widget in e.widgets" class="form-group filtro-widget">
                    <label class="control-label">
                      [[ widget.label ]]
                    </label>
                    <!-- date -->
                    <div class="form-group">
                      <input type="text"
                             ng-if="widget.type == 'date' || widget.type == 'datetime'"
                             class="form-control field-date"
                             data-date-format="yyyy-MM-dd"
                             ng-model="widget.value.from"
                             data-max-date="[[widget.value.until]]"
                             placeholder="From"
                             data-date-type="number"
                             data-autoclose="1"
                             ng-change="selectDateFilter(widget, 'from')"
                             bs-datepicker
                      />
                    </div>
                    <div class="form-group">
                      <input type="text"
                             ng-if="widget.type == 'date' || widget.type == 'datetime'"
                             class="form-control field-date"
                             data-date-format="yyyy-MM-dd"
                             ng-model="widget.value.until"
                             data-min-date="[[widget.value.from]]"
                             placeholder="Until"
                             data-date-type="number"
                             data-autoclose="1"
                             ng-change="selectDateFilter(widget, 'until')"
                             bs-datepicker
                      />
                    </div>
                    <!-- Text / Int -->
                    <div class="form-group" ng-if="widget.type == 'text' || widget.type == 'int'">
                      <input ng-model="widget.value" type="text" class="form-control" />
                    </div>
                    <div class="form-group" ng-if="widget.type == 'distinct'">
                      <select ng-model="widget.value"
                              ui-select2="{allowClear:true, width:200}"
                              data-placeholder="[[ widget.label ]]"
                              class="form-control select2-offscreen"
                              ng-disabled="widget.disabled"
                          >
                          <option value=""></option>
                          <option
                                  ng-repeat="value in widget.distinct_values"
                                  value="[[ value ]]">
                              [[ value ]]
                          </option>
                      </select>
                    </div>
                  </div>

                  <!-- Options -->
                  <div class="form-group filtro-widget">
                    <div class="form-group">
                      <button class="btn btn-primary" type="button" ng-click="applyFastFilters(e)" translate>
                          <i class="fa fa-check"></i> Apply
                      </button>
                      <button class="btn btn-default" type="button" ng-click="clearFastFilters(e)" translate>
                          <i class="fa fa-trash-o"></i> Clear
                      </button>
                    </div>
                  </div>
                </div>
                <div class="pull-right">
                  <div class="form-group filtros-load">
                    <select class="form-control" ui-select2="{allowClear:true}" ng-model="e.selected_filter" ng-change="selectFilter(e)" data-placeholder="Load settings">
                      <option value=""></option>
                      <option ng-repeat="f in e.saved_filters" value="[[ $index ]]">[[ f.name ]]</option>
                    </select>
                  </div>
                  <a class="btn btn-warning btn-circle filtros-options" title="More options" ng-click="e.filterIsCollapsed=!e.filterIsCollapsed"><i class="fa fa-filter"></i></a>
                </div>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>
          <div class="panel-collapse" collapse="e.filterIsCollapsed">
            <div class="filtros-painel">
              <div class="row">
                <div class="col-lg-6 col-md-push-6 col-md-6">
                  <fieldset class="filtros-painel-box filtros-painel-destaque">
                    <div class="row">
                      <div class="form-group col-lg-12 filtros-load">
                        <label translate>Load settings</label>
                        <select class="form-control" ui-select2="{allowClear:true}" ng-model="e.selected_filter" ng-change="selectFilter(e)" data-placeholder="Select one saved setting">
                          <option value=""></option>
                          <option ng-repeat="f in e.saved_filters" value="[[ $index ]]">[[ f.name ]]</option>
                        </select>
                      </div>
                      <div class="col-lg-12">
                      <label translate>Settings list</label>
                        <ul class="settings-list">
                          <li ng-repeat="(key,val) in e.filters">
                            <button ng-click="removeFilter(e, key)" class="botao-remove"><i class="glyphicon glyphicon-remove"></i></button> [[ key ]] : [[ val ]]
                          </li>
                          <!-- ngRepeat: (key,val) in filters -->
                        </ul>
                      </div>
                      <div class="col-lg-12 filtros-action">
                        <span class="btn btn-info btn-save"
                              ng-click="startSaveSettings(e);"
                              ng-class="{'btn-save-active': e.saveSettings}">
                          <i class="fa fa-save"></i> <span translate>Save Settings</span>
                          <input type="text" ng-click="clickInputSettings($event);" ng-model="e.filter_name" class="form-control" placeholder="Setting name"><strong><i class="fa fa-save"></i>
                          <a ng-click="saveFilters(e);" ng-disabled="!e.filter_name || e.filters.length<0" translate>Save</a></strong>
                        </span>
                        <button type="button" class="btn btn-primary" ng-click="applyFilters(e)" translate><i class="fa fa-check"></i> Apply Settings</button>
                      </div>
                      <!--<div class="panel">
                        <div class="panel-heading">
                          <h3 class="panel-title">
                              <i class="fa fa-save"></i> Save Filter
                          </h3>
                        </div>
                        <div class="panel-body">
                          <input class="form-control" type="text" ng-model="e.filter_name" placeholder="Filter Name" />
                          <button type="button" class="btn btn-success btn-lg btn-block" ng-disabled="!e.filter_name || e.filters.length<0" ng-click="saveFilters(e)">Save Filters</button>
                        </div>
                      </div>-->
                    </div>
                  </fieldset>
                </div>
                <div class="col-lg-6 col-md-pull-6  col-md-6">
                  <form role="form" name="form-filter">
                    <fieldset class="filtros-painel-box">
                      <legend class="col-lg-12" translate><i class="fa fa-filter"></i> Filter</legend>
                      <div class="row">
                        <div class="form-group col-lg-6">
                          <label translate>Field</label>
                          <select ui-select2 class="form-control" ng-model="e.filter_field" required>
                              <option ng-repeat="c in e.columns" value="[[ c ]]">[[ c ]]</option>
                          </select>
                        </div>
                        <div class="form-group col-lg-6">
                          <label translate>Type</label>
                          <select ui-select2 class="form-control" ng-model="e.filter_type" required>
                              <option ng-repeat="ty in types" value="[[ ty.key ]]">[[ ty.value ]]</option>
                          </select>
                        </div>
                        <div class="form-group col-lg-6">
                          <label translate>Operator</label>
                          <select ui-select2 class="form-control" ng-model="e.filter_operator" required>
                              <option ng-repeat="op in operators" value="[[ op.key ]]" >[[ op.value ]]</option>
                          </select>
                        </div>

                        <div class="form-group col-lg-6">
                          <label translate>Format</label>
                          <input class="form-control" ng-model="e.filter_format" required="">
                        </div>
                        <div class="form-group col-lg-12">
                          <label translate>Value</label>
                          <input class="form-control" ng-model="e.filter_value" required="">
                          <p class="help-block" translate>For range filter use: <i>xx:yy.</i></p>
                        </div>
                        <div class="col-lg-12 filtros-action">
                          <button type="button" class="btn btn-info" ng-click="addFilter(e)" translate><i class="fa fa-plus"></i> Add Filter</button>
                        </div>
                      </div>
                    </fieldset>
                  </form><!-- /.row -->
                </div>
                  <!--<div class="col-lg-4 col-md-pull-4 col-md-4">-->
                    <!--<form role="form" name="form-filter">-->
                      <!--<fieldset class="filtros-painel-box">-->
                        <!--<legend class="col-lg-12"><i class="fa fa-sort"></i> Order</legend>-->
                        <!--<div class="row">-->
                          <!--<div class="form-group col-lg-12">-->
                            <!--<label>Field</label>-->
                            <!--<select ui-select2 class="form-control" ng-model="e.filter_field" required>-->
                                <!--<option ng-repeat="c in e.columns" value="[[ c ]]">[[ c ]]</option>-->
                            <!--</select>-->
                          <!--</div>-->
                          <!--<div class="form-group col-lg-12">-->
                            <!--<label>Sort</label>-->
                            <!--<select ui-select2 class="form-control" ng-model="e.filter_operator" required>-->
                                <!--<option ng-repeat="op in operators" value="[[ op.key ]]" >[[ op.value ]]</option>-->
                            <!--</select>-->
                          <!--</div>-->
                          <!--<div class="col-lg-12 filtros-action">-->
                            <!--<button type="button" class="btn btn-info" ng-click="addFilter(e)"><i class="fa fa-plus"></i> Add Order</button>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</fieldset>-->
                    <!--</form>&lt;!&ndash; /.row &ndash;&gt;-->
                  <!--</div>
                  </form>
                </div>-->
              </div>
            </div>
          </div>
          <div class="sort-export-update">
            <span class="page-number-items" title="Resume" translate>
              Showing records <strong>[[ e.from ]]-[[ e.to ]]</strong> of a total of <strong>[[ e.total_rows ]]</strong>
            </span>
            <a class="btn btn-sort-disabled" title="Enable advanced sorting"><i class="fa fa-sort-alpha-asc"></i></a>
            <div class="export-buttons dropdown">
              <a class="btn btn-default dropdown-toggle" title="Export"><i class="fa fa-download"></i>  <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a ng-show="e.total_rows < 65536" class="export-xls" id="export-xls-[[ e.slug ]]" ng-click="export(e, 'xls','/export/data/'+[[ e.slug ]])"><i class="fa fa-table"></i> XLS</a>
                </li>
                <li>
                  <a class="export-csv" id="export-csv-[[ e.slug ]]" ng-click="export(e, 'csv','/export/data/'+[[ e.slug ]])"><i class="fa fa-file-text-o"></i> CSV</a>
                </li>
              </ul>
            </div>
            <div class="update-refresh dropdown">
              <a class="btn btn-default dropdown-toggle" title="Last update and last refresh"><i class="fa fa-clock-o"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="update-item">
                    <strong translate>Last update: </strong><br>[[ e.cube.lastupdate|date:'yyyy-MM-dd HH:mm:ss' ]]
                    <span ng-if="e.cube.scheduler_type" class="text-muted"><span translate>Update every</span> [[ e.cube.scheduler_interval ]] [[ e.cube.scheduler_type ]]</span>
                </li>
                <li class="divider" ng-if="(selected_dashboard.scheduler_type == 'minutes' &&selected_dashboard.refresh_elements ) || e.scheduler_type == 'minutes'"></li>
                <li class="update-item" ng-if="(selected_dashboard.scheduler_type == 'minutes' &&selected_dashboard.refresh_elements ) || e.scheduler_type == 'minutes'">
                    <strong translate>Last refresh: </strong><br>[[ e.last_refresh|date:'yyyy-MM-dd HH:mm:ss' ]]<br>
                    <span class="text-muted"><span translate>Refreshes every</span> [[ getRefreshElementDetail(e) ]]</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive table-scroll" id="element-[[ e.slug ]]">
            <div ng-show="e.loading" class="loading" translate><img src="/assets/image/Preloader_2.gif"> Loading...</div>
            <table class="process table table-bordered table-hover table-striped" ng-show="!e.loading">
              <thead>
                <tr>
                  <th ng-repeat="c in e.columns|elementFields:e">
                    <div class="pull-right order" ng-show="e.orderby.indexOf(c)>=0">
                      <a ng-click="applyOrder(e, c, e.orderby__order[e.orderby.indexOf(c)])" class="order-apply">
                        <i class="fa"
                           ng-class="{'fa-sort-alpha-asc': e.orderby.indexOf(c)>=0 && e.orderby__order[e.orderby.indexOf(c)] == '1',
                           'fa-sort-alpha-desc': e.orderby.indexOf(c)>=0 && e.orderby__order[e.orderby.indexOf(c)] == '0'}"></i>
                      </a>
                      <span class="order-number" ng-show="e.orderby.indexOf(c)>=0">([[ e.orderby.indexOf(c) + 1 ]])</span>
                      <a ng-show="e.orderby.indexOf(c)>=0" ng-click="removeOrder(e, c)" class="order-remove"><i class="fa fa-times-circle"></i></a>
                    </div>
                    <a ng-click="applyOrder(e, c, e.orderby__order[e.orderby.indexOf(c)])">[[ c|getLabel:e ]]</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="p in e.process">
                  <td ng-class="{'right':isNumber(p[c])}" ng-repeat="c in e.columns|elementFields:e">[[ p[c]|formatDataTable:c ]]</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center">
            <ul class="pagination">
              <li ng-class="{'disabled':e.current_page==1}">
                <a ng-click="selectPage(e,1)" translate>First</a>
              </li>
              <li ng-repeat="(key,p) in getPages(e)" ng-class="{'active':p==e.current_page}">
                <a ng-click="selectPage(e, p)">[[ p ]]</a>
              </li>
              <li ng-class="{'disabled':e.current_page==e.total_pages}">
                <a ng-click="selectPage(e, e.total_pages)" translate>Last ([[ e.total_pages ]])</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="e.type=='chart_bar'" class="col-lg-12 panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading click-minimize" ng-click="e.isCollapsed=!e.isCollapsed" ng-class="{'panel-minimized':e.isCollapsed}">
        <h3 class="panel-title">
          <i class="fa fa-bar-chart-o"></i> [[ e.name ]]
        </h3>
      </div>
      <div collapse="e.isCollapsed">
        <div class="barra-filtros-export col-md-12">
          <div class="barra-filtros-topo">
            <form class="form-inline">
              <div class="well well-sm pull-left">
                <div class="widget-container" ng-if="e.widgets.length > 0">
                  <div ng-repeat="widget in e.widgets" class="form-group filtro-widget">
                    <label class="control-label">
                      [[ widget.label ]]
                    </label>
                    <!-- date -->
                    <div class="form-group">
                      <input type="text"
                             ng-if="widget.type == 'date' || widget.type == 'datetime'"
                             class="form-control field-date"
                             data-date-format="yyyy-MM-dd"
                             ng-model="widget.value.from"
                             data-max-date="[[widget.value.until]]"
                             placeholder="From"
                             data-date-type="number"
                             data-autoclose="1"
                             bs-datepicker
                      />
                    </div>
                    <div class="form-group">
                      <input type="text"
                             ng-if="widget.type == 'date' || widget.type == 'datetime'"
                             class="form-control field-date"
                             data-date-format="yyyy-MM-dd"
                             ng-model="widget.value.until"
                             data-min-date="[[widget.value.from]]"
                             placeholder="Until"
                             data-date-type="number"
                             data-autoclose="1"
                             bs-datepicker
                      />
                    </div>
                    <!-- Text -->
                    <div class="form-group" ng-if="widget.type == 'text'">
                      <input ng-model="widget.value" type="text" class="form-control" />
                    </div>
                    <div class="form-group" ng-if="widget.type == 'distinct'">
                      <select ng-model="widget.value"
                              ui-select2="{allowClear:true,width:200}"
                              data-placeholder="[[ widget.label ]]"
                              class="form-control select2-offscreen"
                              ng-disabled="widget.disabled"
                          >
                          <option value=""></option>
                          <option
                                  ng-repeat="value in widget.distinct_values"
                                  value="[[ value ]]">
                              [[ value ]]
                          </option>
                      </select>
                    </div>
                  </div>

                  <!-- Options -->
                  <div class="form-group filtro-widget">
                    <div class="form-group">
                      <button class="btn btn-primary" type="button" ng-click="applyFastFilters(e)" translate>
                          <i class="fa fa-check"></i> Apply
                      </button>
                      <button class="btn btn-default" type="button" ng-click="clearFastFilters(e)" translate>
                          <i class="fa fa-trash-o"></i> Clear
                      </button>
                    </div>
                  </div>
                </div>
                <div class="pull-right">
                  <div class="form-group filtros-load">
                    <select class="form-control" ui-select2="{allowClear:true}" ng-model="e.selected_filter" ng-change="selectFilter(e)" data-placeholder="Load settings">
                      <option value=""></option>
                      <option ng-repeat="f in e.saved_filters" value="[[ $index ]]">[[ f.name ]]</option>
                    </select>
                  </div>
                  <a class="btn btn-warning btn-circle filtros-options" title="More options" ng-click="e.filterIsCollapsed=!e.filterIsCollapsed"><i class="fa fa-filter"></i></a>
                </div>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>
          <div class="panel-collapse" collapse="e.filterIsCollapsed">
            <div class="filtros-painel">
              <div class="row">
                <div class="col-lg-6 col-md-push-6 col-md-6">
                  <fieldset class="filtros-painel-box filtros-painel-destaque">
                    <div class="row">
                      <div class="form-group col-lg-12 filtros-load">
                        <label translate>Load settings</label>
                        <select class="form-control" ui-select2="{allowClear:true}" ng-model="e.selected_filter" ng-change="selectFilter(e)" data-placeholder="Select one saved setting">
                          <option value=""></option>
                          <option ng-repeat="f in e.saved_filters" value="[[ $index ]]">[[ f.name ]]</option>
                        </select>
                      </div>
                      <div class="col-lg-12">
                      <label translate>Settings list</label>
                        <ul class="settings-list">
                          <li ng-repeat="(key,val) in e.filters">
                            <button ng-click="removeFilter(e, key)" class="botao-remove"><i class="glyphicon glyphicon-remove"></i></button> [[ key ]] : [[ val ]]
                          </li>
                          <!-- ngRepeat: (key,val) in filters -->
                        </ul>
                      </div>
                      <div class="col-lg-12 filtros-action">
                        <span class="btn btn-info btn-save"
                              ng-click="startSaveSettings(e);"
                              ng-class="{'btn-save-active': e.saveSettings}">
                          <i class="fa fa-save"></i> <span translate>Save Settings</span>
                          <input type="text" ng-click="clickInputSettings($event);" ng-model="e.filter_name" class="form-control" placeholder="Setting name"><strong><i class="fa fa-save"></i>
                          <a ng-click="saveFilters(e);" ng-disabled="!e.filter_name || e.filters.length<0" translate>Save</a></strong>
                        </span>
                        <button type="button" class="btn btn-primary" ng-click="applyFilters(e)" translate><i class="fa fa-check"></i> Apply Settings</button>
                      </div>
                      <!--<div class="panel">
                        <div class="panel-heading">
                          <h3 class="panel-title">
                              <i class="fa fa-save"></i> Save Filter
                          </h3>
                        </div>
                        <div class="panel-body">
                          <input class="form-control" type="text" ng-model="e.filter_name" placeholder="Filter Name" />
                          <button type="button" class="btn btn-success btn-lg btn-block" ng-disabled="!e.filter_name || e.filters.length<0" ng-click="saveFilters(e)">Save Filters</button>
                        </div>
                      </div>-->
                    </div>
                  </fieldset>
                </div>
                <div class="col-lg-6 col-md-pull-6  col-md-6">
                  <form role="form" name="form-filter">
                    <fieldset class="filtros-painel-box">
                      <legend class="col-lg-12" translate><i class="fa fa-filter"></i> Filter</legend>
                      <div class="row">
                        <div class="form-group col-lg-6">
                          <label translate>Field</label>
                          <select ui-select2 class="form-control" ng-model="e.filter_field" required>
                              <option ng-repeat="c in e.columns" value="[[ c ]]">[[ c ]]</option>
                          </select>
                        </div>
                        <div class="form-group col-lg-6">
                          <label translate>Type</label>
                          <select ui-select2 class="form-control" ng-model="e.filter_type" required>
                              <option ng-repeat="ty in types" value="[[ ty.key ]]">[[ ty.value ]]</option>
                          </select>
                        </div>
                        <div class="form-group col-lg-6">
                          <label translate>Operator</label>
                          <select ui-select2 class="form-control" ng-model="e.filter_operator" required>
                              <option ng-repeat="op in operators" value="[[ op.key ]]" >[[ op.value ]]</option>
                          </select>
                        </div>

                        <div class="form-group col-lg-6">
                          <label translate>Format</label>
                          <input class="form-control" ng-model="e.filter_format" required="">
                        </div>
                        <div class="form-group col-lg-12">
                          <label translate>Value</label>
                          <input class="form-control" ng-model="e.filter_value" required="">
                          <p class="help-block" translate>For range filter use: <i>xx:yy.</i></p>
                        </div>
                        <div class="col-lg-12 filtros-action">
                          <button type="button" class="btn btn-info" ng-click="addFilter(e)" translate><i class="fa fa-plus"></i> Add Filter</button>
                        </div>
                      </div>
                    </fieldset>
                  </form><!-- /.row -->
                </div>
                  <!--<div class="col-lg-4 col-md-pull-4 col-md-4">-->
                    <!--<form role="form" name="form-filter">-->
                      <!--<fieldset class="filtros-painel-box">-->
                        <!--<legend class="col-lg-12"><i class="fa fa-sort"></i> Order</legend>-->
                        <!--<div class="row">-->
                          <!--<div class="form-group col-lg-12">-->
                            <!--<label>Field</label>-->
                            <!--<select ui-select2 class="form-control" ng-model="e.filter_field" required>-->
                                <!--<option ng-repeat="c in e.columns" value="[[ c ]]">[[ c ]]</option>-->
                            <!--</select>-->
                          <!--</div>-->
                          <!--<div class="form-group col-lg-12">-->
                            <!--<label>Sort</label>-->
                            <!--<select ui-select2 class="form-control" ng-model="e.filter_operator" required>-->
                                <!--<option ng-repeat="op in operators" value="[[ op.key ]]" >[[ op.value ]]</option>-->
                            <!--</select>-->
                          <!--</div>-->
                          <!--<div class="col-lg-12 filtros-action">-->
                            <!--<button type="button" class="btn btn-info" ng-click="addFilter(e)"><i class="fa fa-plus"></i> Add Order</button>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</fieldset>-->
                    <!--</form>&lt;!&ndash; /.row &ndash;&gt;-->
                  <!--</div>
                  </form>
                </div>-->
              </div>
            </div>
          </div>
          <div class="sort-export-update">
            <div class="update-refresh dropdown">
              <a class="btn btn-default dropdown-toggle" title="Last update and last refresh"><i class="fa fa-clock-o"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="update-item">
                    <strong translate>Last update: </strong><br>[[ e.cube.lastupdate|date:'yyyy-MM-dd HH:mm:ss' ]]
                    <span ng-if="e.cube.scheduler_type" class="text-muted"><span translate>Update every</span> [[ e.cube.scheduler_interval ]] [[ e.cube.scheduler_type ]]</span>
                </li>
                <li class="divider" ng-if="(selected_dashboard.scheduler_type == 'minutes' &&selected_dashboard.refresh_elements ) || e.scheduler_type == 'minutes'"></li>
                <li class="update-item" ng-if="(selected_dashboard.scheduler_type == 'minutes' &&selected_dashboard.refresh_elements ) || e.scheduler_type == 'minutes'">
                    <strong translate>Last refresh: </strong><br>[[ e.last_refresh|date:'yyyy-MM-dd HH:mm:ss' ]]<br>
                    <span class="text-muted"><span translate>Refreshes every</span> [[ getRefreshElementDetail(e) ]]</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <!-- <barchart xkey="el.xkey" ykeys="el.ykeys" labels="el.labels" data="e.process" index="[[ $index ]]"></barchart> -->
          <div ng-show="e.loading" class="loading" translate><img src="/assets/image/Preloader_2.gif"> Loading...</div>
          <div id="bar-chart-[[e.slug]]">
          </div>
        </div>
      </div>

    </div>
  </div>
  <div ng-if="e.type=='chart_line'" class="col-lg-12 panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading click-minimize" ng-click="e.isCollapsed=!e.isCollapsed" ng-class="{'panel-minimized':e.isCollapsed}">
        <h3 class="panel-title">
            <i class="fa fa-random"></i> [[ e.name ]]
        </h3>
      </div>
      <div collapse="e.isCollapsed">
        <div class="barra-filtros-export col-md-12">
          <div class="barra-filtros-topo">
            <form class="form-inline">
              <div class="well well-sm pull-left">
                <div class="widget-container" ng-if="e.widgets.length > 0">
                  <div ng-repeat="widget in e.widgets" class="form-group filtro-widget">
                    <label class="control-label">
                      [[ widget.label ]]
                    </label>
                    <!-- date -->
                    <div class="form-group">
                      <input type="text"
                             ng-if="widget.type == 'date' || widget.type == 'datetime'"
                             class="form-control field-date"
                             data-date-format="yyyy-MM-dd"
                             ng-model="widget.value.from"
                             data-max-date="[[widget.value.until]]"
                             placeholder="From"
                             data-date-type="number"
                             data-autoclose="1"
                             bs-datepicker
                      />
                    </div>
                    <div class="form-group">
                      <input type="text"
                             ng-if="widget.type == 'date' || widget.type == 'datetime'"
                             class="form-control field-date"
                             data-date-format="yyyy-MM-dd"
                             ng-model="widget.value.until"
                             data-min-date="[[widget.value.from]]"
                             placeholder="Until"
                             data-date-type="number"
                             data-autoclose="1"
                             bs-datepicker
                      />
                    </div>
                    <!-- Text -->
                    <div class="form-group" ng-if="widget.type == 'text'">
                      <input ng-model="widget.value" type="text" class="form-control" />
                    </div>
                    <div class="form-group" ng-if="widget.type == 'distinct'">
                      <select ng-model="widget.value"
                              ui-select2="{allowClear:true,width:200}"
                              data-placeholder="[[ widget.label ]]"
                              class="form-control select2-offscreen"
                              ng-disabled="widget.disabled"
                          >
                          <option value=""></option>
                          <option
                                  ng-repeat="value in widget.distinct_values"
                                  value="[[ value ]]">
                              [[ value ]]
                          </option>
                      </select>
                    </div>
                  </div>

                  <!-- Options -->
                  <div class="form-group filtro-widget">
                    <div class="form-group">
                      <button class="btn btn-primary" type="button" ng-click="applyFastFilters(e)" translate>
                          <i class="fa fa-check"></i> Apply
                      </button>
                      <button class="btn btn-default" type="button" ng-click="clearFastFilters(e)" translate>
                          <i class="fa fa-trash-o"></i> Clear
                      </button>
                    </div>
                  </div>
                </div>
                <div class="pull-right">
                  <div class="form-group filtros-load">
                    <select class="form-control" ui-select2="{allowClear:true}" ng-model="e.selected_filter" ng-change="selectFilter(e)" data-placeholder="Load settings">
                      <option value=""></option>
                      <option ng-repeat="f in e.saved_filters" value="[[ $index ]]">[[ f.name ]]</option>
                    </select>
                  </div>
                  <a class="btn btn-warning btn-circle filtros-options" title="More options" ng-click="e.filterIsCollapsed=!e.filterIsCollapsed"><i class="fa fa-filter"></i></a>
                </div>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>
          <div class="panel-collapse" collapse="e.filterIsCollapsed">
            <div class="filtros-painel">
              <div class="row">
                <div class="col-lg-6 col-md-push-6 col-md-6">
                  <fieldset class="filtros-painel-box filtros-painel-destaque">
                    <div class="row">
                      <div class="form-group col-lg-12 filtros-load">
                        <label translate>Load settings</label>
                        <select class="form-control" ui-select2="{allowClear:true}" ng-model="e.selected_filter" ng-change="selectFilter(e)" data-placeholder="Select one saved setting">
                          <option value=""></option>
                          <option ng-repeat="f in e.saved_filters" value="[[ $index ]]">[[ f.name ]]</option>
                        </select>
                      </div>
                      <div class="col-lg-12">
                      <label translate>Settings list</label>
                        <ul class="settings-list">
                          <li ng-repeat="(key,val) in e.filters">
                            <button ng-click="removeFilter(e, key)" class="botao-remove"><i class="glyphicon glyphicon-remove"></i></button> [[ key ]] : [[ val ]]
                          </li>
                          <!-- ngRepeat: (key,val) in filters -->
                        </ul>
                      </div>
                      <div class="col-lg-12 filtros-action">
                        <span class="btn btn-info btn-save"
                              ng-click="startSaveSettings(e);"
                              ng-class="{'btn-save-active': e.saveSettings}">
                          <i class="fa fa-save"></i> <span  translate>Save Settings</span>
                          <input type="text" ng-click="clickInputSettings($event);" ng-model="e.filter_name" class="form-control" placeholder="Setting name"><strong><i class="fa fa-save"></i>
                          <a ng-click="saveFilters(e);" ng-disabled="!e.filter_name || e.filters.length<0" translate>Save</a></strong>
                        </span>
                        <button type="button" class="btn btn-primary" ng-click="applyFilters(e)" translate><i class="fa fa-check"></i> Apply Settings</button>
                      </div>
                      <!--<div class="panel">
                        <div class="panel-heading">
                          <h3 class="panel-title">
                              <i class="fa fa-save"></i> Save Filter
                          </h3>
                        </div>
                        <div class="panel-body">
                          <input class="form-control" type="text" ng-model="e.filter_name" placeholder="Filter Name" />
                          <button type="button" class="btn btn-success btn-lg btn-block" ng-disabled="!e.filter_name || e.filters.length<0" ng-click="saveFilters(e)">Save Filters</button>
                        </div>
                      </div>-->
                    </div>
                  </fieldset>
                </div>
                <div class="col-lg-6 col-md-pull-6  col-md-6">
                  <form role="form" name="form-filter">
                    <fieldset class="filtros-painel-box">
                      <legend class="col-lg-12" translate><i class="fa fa-filter"></i> Filter</legend>
                      <div class="row">
                        <div class="form-group col-lg-6">
                          <label translate>Field</label>
                          <select ui-select2 class="form-control" ng-model="e.filter_field" required>
                              <option ng-repeat="c in e.columns" value="[[ c ]]">[[ c ]]</option>
                          </select>
                        </div>
                        <div class="form-group col-lg-6">
                          <label translate>Type</label>
                          <select ui-select2 class="form-control" ng-model="e.filter_type" required>
                              <option ng-repeat="ty in types" value="[[ ty.key ]]">[[ ty.value ]]</option>
                          </select>
                        </div>
                        <div class="form-group col-lg-6">
                          <label translate>Operator</label>
                          <select ui-select2 class="form-control" ng-model="e.filter_operator" required>
                              <option ng-repeat="op in operators" value="[[ op.key ]]" >[[ op.value ]]</option>
                          </select>
                        </div>

                        <div class="form-group col-lg-6">
                          <label translate>Format</label>
                          <input class="form-control" ng-model="e.filter_format" required="">
                        </div>
                        <div class="form-group col-lg-12">
                          <label translate>Value</label>
                          <input class="form-control" ng-model="e.filter_value" required="">
                          <p class="help-block" translate>For range filter use: <i>xx:yy.</i></p>
                        </div>
                        <div class="col-lg-12 filtros-action">
                          <button type="button" class="btn btn-info" ng-click="addFilter(e)" translate><i class="fa fa-plus"></i> Add Filter</button>
                        </div>
                      </div>
                    </fieldset>
                  </form><!-- /.row -->
                </div>
                  <!--<div class="col-lg-4 col-md-pull-4 col-md-4">-->
                    <!--<form role="form" name="form-filter">-->
                      <!--<fieldset class="filtros-painel-box">-->
                        <!--<legend class="col-lg-12"><i class="fa fa-sort"></i> Order</legend>-->
                        <!--<div class="row">-->
                          <!--<div class="form-group col-lg-12">-->
                            <!--<label>Field</label>-->
                            <!--<select ui-select2 class="form-control" ng-model="e.filter_field" required>-->
                                <!--<option ng-repeat="c in e.columns" value="[[ c ]]">[[ c ]]</option>-->
                            <!--</select>-->
                          <!--</div>-->
                          <!--<div class="form-group col-lg-12">-->
                            <!--<label>Sort</label>-->
                            <!--<select ui-select2 class="form-control" ng-model="e.filter_operator" required>-->
                                <!--<option ng-repeat="op in operators" value="[[ op.key ]]" >[[ op.value ]]</option>-->
                            <!--</select>-->
                          <!--</div>-->
                          <!--<div class="col-lg-12 filtros-action">-->
                            <!--<button type="button" class="btn btn-info" ng-click="addFilter(e)"><i class="fa fa-plus"></i> Add Order</button>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</fieldset>-->
                    <!--</form>&lt;!&ndash; /.row &ndash;&gt;-->
                  <!--</div>
                  </form>
                </div>-->
              </div>
            </div>
          </div>
          <div class="sort-export-update">
            <div class="update-refresh dropdown">
              <a class="btn btn-default dropdown-toggle" title="Last update and last refresh"><i class="fa fa-clock-o"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="update-item">
                    <strong translate>Last update: </strong><br>[[ e.cube.lastupdate|date:'yyyy-MM-dd HH:mm:ss' ]]
                    <span ng-if="e.cube.scheduler_type" class="text-muted"><span translate>Update every</span> [[ e.cube.scheduler_interval ]] [[ e.cube.scheduler_type ]]</span>
                </li>
                <li class="divider" ng-if="(selected_dashboard.scheduler_type == 'minutes' &&selected_dashboard.refresh_elements ) || e.scheduler_type == 'minutes'"></li>
                <li class="update-item" ng-if="(selected_dashboard.scheduler_type == 'minutes' &&selected_dashboard.refresh_elements ) || e.scheduler_type == 'minutes'">
                    <strong translate>Last refresh: </strong><br>[[ e.last_refresh|date:'yyyy-MM-dd HH:mm:ss' ]]<br>
                    <span class="text-muted"><span translate>Refreshes every</span> [[ getRefreshElementDetail(e) ]]</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-body" resize emWidthSource emWidthTarget>
          <div ng-show="e.loading" class="loading" translate><img src="/assets/image/Preloader_2.gif"> Loading...</div>
          <div id="chart-line-[[e.slug]]">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>