<div class="row">
    <div class="col-lg-6">
        <form name="form_connection" accept-charset="utf-8" role="form" ng-submit="saveNewUser()">
            <h2 class="form-signin-heading" translate>Please confirm account</h2>
            <div class="form-group">
                <label for="user_username" translate>Username</label>
                <input type="text" id="user_username" readonly="readonly" ng-model="user.username" class="form-control">
            </div>
            <button class="btn btn-large btn-primary" type="submit" translate>Confirm</button>
        </form>
    </div>
</div>