<div class="row">
    <div class="col-lg-12">
        <h1><i class="fa fa-user"></i> <span translate>Users</span></h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="icon-dashboard"></i> Admin</a></li>
            <li class="active" translate>Users</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <form name="form_connection" accept-charset="utf-8" role="form" ng-submit="save(post)">
            <div class="form-group">
                <label for="user_username" translate>Username</label>
                <input type="text" id="user_username" ng-disabled="editing||change_pass" ng-model="user.username" class="form-control">
            </div>
            <div class="form-group" ng-show="!change_pass" ng-if="AuthService.getUser().rule == 'root'">
                <label for="user_password" translate>Password</label>
                <input type="password" ng-disabled="editing" id="user_password" ng-model="user.password" class="form-control">
            </div>
            <div class="form-group" ng-show="!change_pass" ng-if="AuthService.getUser().rule == 'root'">
                <label for="user_rule" translate>Rule</label>
                <select id="user_rule" ui-select2 ng-disabled="change_pass" class="form-control" ng-model="user.rule" required>
                    <option ng-repeat="r in rules" value="[[ r ]]">[[ r ]]</option>
                </select>
            </div>
            <div class="form-group" ng-show="change_pass" ng-if="AuthService.getUser().rule == 'root'">
                <label for="user_password_current" translate>Current Password</label>
                <input type="password" id="user_password_current" ng-model="user.password" class="form-control">
            </div>
            <div class="form-group" ng-show="change_pass" ng-if="AuthService.getUser().rule == 'root'">
                <label for="user_password_new" translate>New Password</label>
                <input type="password" id="user_password_new" ng-model="user.password_new" class="form-control">
            </div>
            <div class="form-group" ng-show="change_pass" ng-if="AuthService.getUser().rule == 'root'">
                <label for="user_password_new2" translate>Confirm New Password</label>
                <input type="password" id="user_password_new2" ng-model="user.password_new_2" class="form-control">
            </div>
            <div class="form-group" ng-show="!change_pass">
                <label translate>Permissions</label>
                <div ng-repeat="dashboard in permissions" class="form-group" ng-show="!change_pass">
                    <div class="panel panel-default permissions">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="checkbox-holder"><input type="checkbox" id="dashboard_[[ dashboard.slug ]]" ng-model="dashboard.permitted" ng-click="selectDashboard(dashboard)" title="Select/deselect all" /></span>
                                <i class="fa fa-dashboard"></i> [[ dashboard.name ]]
                                <a ng-click="dashboard.isCollapsed=!dashboard.isCollapsed">
                                    <i class="fa pull-right" ng-class="{'fa-sort-asc':dashboard.isCollapsed, 'fa-sort-desc':!dashboard.isCollapsed}"></i>
                                </a>
                            </h3>
                        </div>
                        <div collapse="dashboard.isCollapsed" class="panel-collapse">
                            <div class="panel-body">
                                <ul class="permissions-elements-list">
                                    <li ng-repeat="element in dashboard.element">
                                        <label><span class="checkbox-holder"><input type="checkbox" ng-click="selectElement(dashboard)" ng-model="element.permitted" /></span>[[ element.name ]]</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" translate>Save</button>
            <button type="button" class="btn btn-success" ng-click="newForm()" translate>New</button>
        </form>
    </div>
    <div class="col-lg-6 table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="4">
                        <span translate>Search:</span> <input type="text" class="form-control" ng-model="search.$" placeholder="Type to search" />
                    </th>
                </tr>
            </thead>
            <thead>
                <th>
                </th>
                <th translate>
                    Username
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="us in users|filter:search|orderBy:'username'">
                    <td class="edit-delete">
                        <a ng-click="selectUser(us)" title="[['Edit User'|translate]]"><i class="fa fa-pencil"></i></a>
                        <a ng-click="changePass(us)" title="[['Change Password'|translate]]" ng-if="AuthService.getUser().rule == 'root'"><i class="fa fa-asterisk"></i></a>
                        <a ng-click="deleteUser(us)" title="[['Delete User'|translate]]" ng-if="AuthService.getUser().rule == 'root'"><i class="fa fa-trash-o"></i></a>
                    </td>
                    <td>
                        [[us.username]]
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- /.row -->