<div class="row">
    <div class="col-lg-12">
        <h1><i class="fa fa-globe"></i> Connection</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="icon-dashboard"></i> Admin</a></li>
            <li class="active">Connection</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <form name="form_connection" accept-charset="utf-8" role="form" ng-submit="save(post)">
            <div class="form-group">
                <label for="connection_name">Name</label>
                <input type="text" id="connection_name" ng-model="connection.name" class="form-control">
            </div>
            <div class="form-group">
                <label for="connection_connection">Connection</label>
                <input type="text" id="connection_connection" ng-model="connection.connection" class="form-control">
                <p class="help-block">mysql://[user]:[password]@[host][:port]/[database]</p>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
            <button type="button" ng-click="newForm()">New</button>
        </form>
    </div>
    <div class="col-lg-6">
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <th>
                </th>
                <th>
                    Name
                </th>
                <th>
                    Connection
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="c in connections">
                    <td>
                        <a ng-click="selectConnection(c)"><i class="fa fa-pencil"></i></a>
                        <a ng-click="deleteConnection(c)"><i class="fa fa-trash-o"></i></a>
                    </td>
                    <td>
                        [[c.name]]
                    </td>
                    <td>
                        [[c.connection]]
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- /.row -->