<div class="row">
    <div class="col-lg-12">
        <h1><i class="fa fa-globe"></i> Late Scheduler</h1>
        <ol class="breadcrumb">
            <li class="active">Late Scheduler</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <th>
                    <a ng-click="refreshNow()">Refresh list</a>
                </th>
                <th>
                    Cube
                </th>
                <th>
                    Last Update
                </th>
                <th>
                    Scheduler
                </th>
                <th>
                    Late
                </th>
            </thead>
            <tbody ng-show="loading">
                <tr>
                    <td colspan="5">
                        Loading....
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr ng-repeat="c in cubes">
                    <td class="edit-delete">
                        <a ng-click="forceRefresh(c)" title="Force refresh"><i class="fa fa-refresh"></i></a>
                    </td>
                    <td>
                        [[c.name]]
                    </td>
                    <td>
                        [[c.lastupdate]] ([[c.lastupdate | timeAgo]])
                    </td>
                    <td>
                        [[c.scheduler_interval]] [[c.scheduler_type]]
                    </td>
                    <td>
                        [[c.late]] ([[c.late | timeAgo]])
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- /.row -->