<html ng-app="OpenMining" xmlns:ng="http://angularjs.org" lang="en">
  <head>
    <script type="text/javascript" src="/assets/bower/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/bower/angular-resource/angular-resource.min.js"></script>

    <script type="text/javascript" src="/assets/bower/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/bower/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="/assets/bower/highcharts-ng/dist/highcharts-ng.min.js"></script>

    <script type="text/javascript" src="/assets/javascript/script.js"></script>
  </head>
  <body>
    {% include "elements/index.html" %}
  </body>
</html>
