<html ng-app="OpenMining" xmlns:ng="http://angularjs.org" lang="en">
  <head>
    <script type="text/javascript" src="/assets/bower/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/bower/angular-resource/angular-resource.min.js"></script>

    <script type="text/javascript" src="/assets/bower/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/bower/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="/assets/bower/highcharts-ng/dist/highcharts-ng.min.js"></script>

    <script type="text/javascript" src="/assets/javascript/script.js"></script>
  </head>
  <body>
    <div ng-controller="Process" ng-init="init('{{slug}}')">
      <div class="spinner" ng-show="loading">Carregando...</div>
      <table class="process">
        <tr>
          <th ng-repeat="c in columns"><a href="javascript:void(0);" ng-click="predicate = '{{!c}}'; reverse=!reverse">{{!c}}</a></th>
        </tr>
        <tr ng-repeat="p in process | orderBy:predicate:reverse">
          <td ng-repeat="c in columns">{{!p[c]}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
